<h1>{{homeCtrl.message}}</h1>
<div>
    <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit... There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain...
        <p>
</div>
<ul>
    <li>Lorem Ipsum is simply dummy text of the printing </li>
    <li>and typesetting industry. Lorem Ipsum has been the </li>
    <li>industry's standard dummy text ever since the 1500s, </li>
    <li>when an unknown printer took a galley of type and </li>
    <li>scrambled it to make a type specimen book. It has survived.</li>
</ul>
