<!DOCTYPE html>
<html>

<head>
    <title>Angular Filters</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="Js/angular.min.js"></script>
</head>

<body ng-app="myModule">
    <div ng-controller="myController">
        <button id="top" ng-click="scrollTo('bottom')">Go to bottom of the page</button>
        <br>
        <br>
        <div>
            <pre>
                            What is Lorem Ipsum?
                Lorem Ipsum is simply dummy text of
                the printing and typesetting industry. 
                Lorem Ipsum has been the industry's 
                standard dummy text ever since the 1500s, 
                when an unknown printer took a galley of 
                type and scrambled it to make a type specimen book. 
                It has survived not only five centuries, but also 
                the leap into electronic typesetting, remaining essentially
                 unchanged. It was popularised in the 1960s with the release 
                 of Letraset sheets containing Lorem Ipsum passages, 
                 and more recently with desktop publishing software 
                 like Aldus PageMaker including versions of Lorem Ipsum
        </pre>
            <pre>
                            What is Lorem Ipsum?
                Lorem Ipsum is simply dummy text of
                the printing and typesetting industry. 
                Lorem Ipsum has been the industry's 
                standard dummy text ever since the 1500s, 
                when an unknown printer took a galley of 
                type and scrambled it to make a type specimen book. 
                It has survived not only five centuries, but also 
                the leap into electronic typesetting, remaining essentially
                 unchanged. It was popularised in the 1960s with the release 
                 of Letraset sheets containing Lorem Ipsum passages, 
                 and more recently with desktop publishing software 
                 like Aldus PageMaker including versions of Lorem Ipsum
        </pre>
            <pre>
                            What is Lorem Ipsum?
                Lorem Ipsum is simply dummy text of
                the printing and typesetting industry. 
                Lorem Ipsum has been the industry's 
                standard dummy text ever since the 1500s, 
                when an unknown printer took a galley of 
                type and scrambled it to make a type specimen book. 
                It has survived not only five centuries, but also 
                the leap into electronic typesetting, remaining essentially
                 unchanged. It was popularised in the 1960s with the release 
                 of Letraset sheets containing Lorem Ipsum passages, 
                 and more recently with desktop publishing software 
                 like Aldus PageMaker including versions of Lorem Ipsum
        </pre>
            <b>What is Angular js</b>
            <br>
            <b>Angular js is a javascript framework that helps to build applications</b>
            <br>
            <b>What is Angular js</b>
            <br>
            <b>Angular js is a javascript framework that helps to build applications</b>
            <br>
            <b>What is Angular js</b>
            <br>
            <b>Angular js is a javascript framework that helps to build applications</b>
            <br>
            <b>What is Angular js</b>
            <br>
            <b>Angular js is a javascript framework that helps to build applications</b>
            <br>
            <b>What is Angular js</b>
            <br>
            <b>Angular js is a javascript framework that helps to build applications</b>
            <br>
            <b>What is Angular js</b>
            <br>
            <b>Angular js is a javascript framework that helps to build applications</b>
            <br>
            <b>What is Angular js</b>
            <br>
            <b>Angular js is a javascript framework that helps to build applications</b>
            <br>
        </div>
        <br>
        <button id="bottom" ng-click="scrollTo('top')">Go to top of the page</button>
    </div>
    <script src="Js/script21.js"></script>
</body>

</html>
